@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Work Sans, sans-serif;
}


/* Nav Start Here */


nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
}


nav .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}


nav .logo .logo-img div {
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 19px;
    color: white;
    border-radius: 50%;
    background-color: rgb(153, 41, 251);
}


nav .logo .logo-heading h3 {
    font-size: 2rem;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}


nav ul li {
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 7px;
    cursor: pointer;
}


nav ul li:hover {
        background-color: rgb(221, 220, 220);
    color: rgb(153, 41, 251);
}


/* Nav End Here */


/* Hero Section Start Here */


img {
    width: 200px;
    height: 200px;
}


#hero-section {
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
    align-items: center;
    background-size: 100% 100%;
    background: radial-gradient(circle at 12% 100%, #ffe2b0f5 1%, #ffe2b0f5 5px, #0000 15%), radial-gradient(circle at 95% -15%, #da4df166 5%, #0000 30%), radial-gradient(circle at 100%, #c4f5e9b2 2%, #0000 35%);
}


#hero-section .img-box {
    width: 400px;
    height: 500px;
}


#hero-section .img-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


#hero-section .hero-heading .hero-count{
    margin-top: 100px;
    display: flex;
    gap: 10px;
}


#hero-section .hero-heading button{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px;
    background: rgb(153, 41, 251);
    border: none;
    border-radius: 7px;
    margin-top: 15px;
}


#hero-section .hero-heading .hero-count .count-card{
    background-color: #f6ebfe;
    width: 170px;
    padding: 20px;
    text-align: center;
}


#hero-section .hero-heading .hero-count .count-card h2{
    font-size: 2rem;
}



.Process {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 120px;
    background: #e3e6ed;
    
}


.left {
    width: 40%;
}

.left h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

.card .card1{
    margin-top: -110px;
}
.left p {
    color: #666;
    line-height: 1.7;
}
.right {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}


.right .card {
    padding: 25px;
   background-color: white;
    border-radius: 14px;

}
.sec{
    height: 100px;

    text-align: center;
justify-content: center;

}
.card h3 {
    color: #6c63ff;
    margin-bottom: 10px;
}
 .sec.h2{
font-size: 2rem;

}
 .sec.p{
 
text-align: center;
}